<form method="POST" action="/new">
    <h1>FORMS</h1>
    <label for="user">User</label>
    <input type="user" name="messageUser">
    <br>
    <label for="text">Text</label>
    <input type="text" name="messageText">
    <br>
    <label for="">New Date</label>
    <input type="date" name="newDate">
    <input type="submit">
</form>
 