<form method="POST" action="/new">
    <h1>FORMS</h1>
    <label for="text">Text</label>
    <input type="text" name="text">
    <br>
    <label for="user">User</label>
    <input type="user" name="user">
    <br>
    <label for="added">New Date</label>
    <input type="date" name="added">
    <br>
    <textarea name="content" id="content"></textarea>
    <br>
    <input type="submit">
</form>
 