<nav>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
        <li>
          <a href="/new/ <%= messages[i].href %>">Open
          <span> <%= messages[i].text %> </span>
          </a>
          <span> <%= messages[i].user %> </span>
          <span> <%= messages[i].added %> </span>
        </li>
      <% } %>
    </ul>
</nav>
  


